<!DOCTYPE html>
<html lang="en">
 <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Новый список</title>
      <link rel="shortcut icon" type="image/png" href="/images/favicon.png" />
      <link rel="stylesheet" href="/static/css/save_list.css">
  </head>
 <body>
    <div class="wrapper__auth">
      <div class="auth__column_right">
        <div class="auth__column_right_form">
        {% block form %}

        {% endblock %}
        </div>
      </div>
    </div>
  </body>
</html>